* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

section.map {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: lightgray;
}

div.rocket {
  display: flex;
  gap: 3px;
  margin: 2px;
  width: auto;
  height: 50px;
}


div.rocket > div.cylinder {
  height: auto;
  width: 100%;
  background: grey;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

div.rocket > div.flipper {
  height: 80%;
  width: 100%;
  background: LightCoral;
  align-self: flex-end;
}

div.rocket > div.flipper.left{
  border-top-left-radius: 100%;
}

div.rocket > div.flipper.right{
  border-top-right-radius: 100%;
}

div.mark {
  background: #2ECC71;
  border-radius: 50%;
  width: 100%;
  height: auto;
  z-index: 2;
}

@keyframes drift {
  from {
    margin-top:  10px;
    margin-bottom: 10px;
  }

  to {
    margin-top:  0px;
    margin-bottom: 0px;
  }
}

div.meteorite {
  background: wheat;
  border-radius: 50%;
  width: 100%;
  height: auto;
  animation-duration: 4s;
  animation-name: drift;
  animation-iteration-count: infinite;
}

h3 {
  text-align: center;
}

div.gamepad {
  width: 200px;
  height: 200px;
  background-color: papayawhip;
  border: grey solid 2px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 3px;
}


div.gamepad > button {
  border-radius: 50%;
  background-color: lemonchiffon;
  border: grey solid 1px;
}

div.gamepad > button:nth-child(1){
  grid-column: 2;
  grid-row: 1;
}

div.gamepad > button:nth-child(2){
  grid-column: 3;
  grid-row: 2;
}

div.gamepad > button:nth-child(4){
  grid-column: 2;
  grid-row: 3;
}

div.gamepad > button:nth-child(5){
  grid-column: 1;
  grid-row: 2;
}


div.gamepad > button:nth-child(3){
  grid-column: 2;
  grid-row: 2;
}